// Colors
$primaryFuchsia: #fb2576;
$secondaryDarkBlue: #150050;
$secondaryPurple: #3f0071;
$secondaryBackground: #000;
$secondaryWhite: rgb(243, 243, 243);

// Font family
$fontFamily: "Raleway", sans-serif;

// Font weight

$fontWeight: (
  "fontLight": 300,
  "fontRegular": 400,
  "fontBold": 700,
);
